<!DOCTYPE html>
<html>
    <head>
        <title>Leave Portal</title>
        <style>
            input{
                border: none;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{text}}</p>
        <form method = "POST" action = "http://127.0.0.1:5000/reply/?id={{id}}">
            <input type = "submit" value = "Accept" name = "accept"/>
            <input type = "submit" value = "Reject" name = "reject"/>
        </form>
    </body>
</html>

